<!DOCTYPE html>
{% load static %}  
<html lang="en">  
<head>  
    <img src="{% static 'images/socialbook.jpg' %}" alt="dj" /> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width","initial-scale=1.0"
    <link rel="stylesheet" href="{%static 'style/style.css'%}" />   {% comment %} using the link tag to integrate the static css style {% endcomment %}
    <title>Profile Page</title>  
</head>  
<body>  
  {% comment %} <form action="" method="POST" novalidate>  

  </form>   {% endcomment %}
</body>  
</html> 